<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="has-background-dark">
        <nav class="navbar-item is-arrowless">
            <a id="home-button" href="/">Home</a>
            <a id="dashboard-button" href="/dashboard">Dashboard</a>
            {{#if logged_in}}
            <button id="logout-button" class="custom-logout-color button">Logout</button>
            {{else}}
            <a id="login-button" class="button" href="/login">Login</a>
            {{/if}}
        </nav>
    </header>

    <main>
        {{{ body }}}
    </main>

    <footer>

    </footer>
    {{!-- REMINDER to set script.js file here --}}
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
    <script src="/js/script.js"></script>
</body>

</html>
