{{!-- part of the header --}}
<div class="has-background-dark section">
    <div class="header-box">
        <h1 class="title is-1">The Tech Blog</h1>
    </div>
</div>

{{#each posts as |post|}}
<div>
    <div></div>
</div>
{{/each}}